* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

section {
    flex-basis: 50%;
    margin: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    width: 100%;
    position: relative; /* Adicionado */
}

.card img {
    max-width: 100%;
    opacity: 0.7; /* Opacidade padrão */
    transition: opacity 0.3s ease; /* Transição suave */
}

.card:hover img {
    opacity: 1; /* Opacidade total ao passar o mouse */
}

.card h2 {
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    color: #666;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    main {
        flex-wrap: wrap;
    }

    section {
        flex-basis: 100%;
    }
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
